body {
    background: #e3f1fe;
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-box {
    background: white;
    padding: 26px;
    border-radius: 14px;
    width: 340px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

h2 {
    margin-top: 0;
    color: #004f73;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cdd8e3;
    margin-bottom: 12px;
}

.btn {
    width: 100%;
    background: #004f73;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover {
    background: #00364f;
}

.link {
    margin-top: 10px;
    text-align: center;
}
